form {
  /* The !important is required because material force the
   fist child of a mat-dialog-content to have no top margin */
  margin-top: 15px !important;
}

.mat-mdc-form-field {
  width: 100%;
  margin-bottom: 30px;
}
