:host {
  display: block;
  padding: 1em;
}

p {
  font-size: 22px;
  text-align: center;
  margin: 2em 0;
}

form {
  margin: 2em auto;
  display: block;
  gap: 20px;
  width: 100%;
  max-width: 400px;

  * {
    width: 100%;
  }
}

#password {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

button[type="submit"] {
  font-size: 16px;
}
