header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  padding: 16px 24px;

  h1 {
    font-size: 23px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    background-color: var(--mat-sys-primary-container);
    color: var(--mat-sys-on-primary-container);

    &:hover {
      background-color: var(--mat-sys-level4);
    }
  }
}